/papers/ablation/data_random_dense1/*
/papers/ablation/data_random_dense2/*
/papers/ablation/data_random_dense3/*
/papers/ablation/data_random_dense4/*

/papers/dense_test/data_random_dense1/*
/papers/dense_test/data_random_dense2/*
/papers/dense_test/data_random_dense3/*
/papers/dense_test/data_random_dense4/*
/papers/sparse_test/data_random_sparse1/*
/papers/sparse_test/data_random_sparse2/*
/papers/sparse_test/data_random_sparse3/*
/papers/sparse_test/data_random_sparse4/*

/papers/pde/data_pde/*
/papers/cpu_lowcond_gmres_ir/generated_data/*
/papers/cpu_lowcond_gmres_ir/build/*
__pycache__/
*.pyc
/papers/cpu_lowcond_gmres_ir/results_cpu_lowcond/*
/papers/cpu_lowcond_gmres_ir/figures_cpu_lowcond/*
